$text-title-color: #323232;
$text-subtitle-color: lighten($text-title-color, 30%);
$text-body-color: lighten($text-title-color, 9%);

$separator-subtle-color: #C3C3C3;

$brand-highlight-color: #695BCD;