@import '/src/styles/common';

.preview {
  box-shadow: none !important;

  .thumbnail {
    max-width: 80%;
    align-self: center;
  }

  @media screen and (max-width: $medium-screen-max-width) {
    .thumbnail {
      margin-left: auto;
      margin-right: auto;
      max-width: none;
      width: 100%;
    }
  }
}