@import '../../styles/_common.scss';

.header-item {
  font-family: 'Roboto Slab', 'Courier New';
  font-style: bold;
}

.header-title {
  font-family: 'Roboto Slab', 'Courier New';
  font-style: bold;
}