@font-face {
  font-family: "Inter";
  src: local("Inter"),
    url("./assets/fonts/Inter/regular.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Inter";
  src: local("Inter"), url("./assets/fonts/Inter/bold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "RobotoSlab";
  src: local("RobotoSlab"),
    url("./assets/fonts/RobotoSlab/regular.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "RobotoSlab";
  src: local("RobotoSlab"),
    url("./assets/fonts/RobotoSlab/medium.ttf") format("truetype");
  font-weight: bold;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Inter", "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "source-code-pro", Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
